<h1>Something when wrong in your callbacks:</h1>

<h3><span class="inline-code">before_each</span>:</h3>
<p><%= @config_errors[:before_each] %></p>

<h3><span class="inline-code">after_each</span>:</h3>
<p><%= @config_errors[:after_each] %></p>
