<!DOCTYPE html>
<html>
<head>
  <title>MagicLamp</title>
  <%= stylesheet_link_tag    "magic_lamp/application", media: "all" %>
  <%= javascript_include_tag "magic_lamp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
</div>

</body>
</html>
